/* Style Homepage Header */

header {
    background: #ffffff;
}


.landingpage {
    width: 100%;
}

.landingpage .header-box h1
 {
    font-family: "Poppins SemiBold";
    font-size: 3.7rem;
    font-weight: 700;
    color: var(--color-text);
 }

 
.landingpage .header-box h1 span {
    color: var(--secondary-color);
    font-weight: 800;
}

.landingpage .header-box .cuan {
    color: var(--color-text);
    font-weight: 800;
}

.landingpage .header-box p {
    line-height: 2;
    color: var(--color-text);
    font-weight: 500;
}

.header-box .mb-4{
    font-size: 20px;
}

.landingpage .header-box button p{
    font-family: 'Poppins SemiBold', sans-serif;
}

.landingpage .header-box img {
    width: 459px;
    height: 481px;
}

.landingpage .btn p {
    margin: 0;
    padding: 0;
    display: inline;
    color: var(--secondary-color-text);
}


 
/* Style Homepage Header */




@media only screen and (max-width: 768px) {
    .penjelasan_container {
        padding: 24px 12px; /* Reduce padding */
    }

    .penjelasan_wrap {
        margin-top: 20px; /* Adjust margin for smaller screens */
    }

    .penjelasan_img img {
        width: 100%; /* Make image responsive */
        height: auto;
    }

    .penjelasan_sub p {
        font-size: 16px; /* Adjust font size for readability */
        padding: 10px; /* Add padding for better spacing */
    }

    .tombol {
        flex-direction: row; /* Stack buttons vertically */
        align-items: center;
        justify-content: center;
        gap: 20px; /* Add spacing between buttons */
        height: 70px !important; /* Allow height to adjust */
    }

    .tombol_col{
        height: 50px !important; /* Allow height to adjust */
    }

    .tombol p {
        width: auto; /* Remove fixed width */
        padding: 10px 20px; /* Adjust padding for better button size */
        font-size: 16px; /* Adjust font size */
        border-radius: 20px; /* Softer corners for smaller screens */
    }

    .penjelasan_big h1 {
        font-size: 32px; /* Reduce heading size */
        text-align: center;
    }
}

/* For very small screens (phones <480px) */
@media only screen and (max-width: 480px) {
    .penjelasan_sub p {
        font-size: 14px !important;
    }

    .penjelasan_big h1 {
        font-size: 24px !important;
    }

    .tombol p {
        font-size: 14px !important;
        padding: 8px 16px !important;
    }

    .penjelasan_img img{
        width: 300px !important;
        height: auto;
    }
}